
        p{
            font-style: italic;
        }

        h1{
            font-family: Helvetica, sans-serif, Arial;
            text-align: center;
            border:   1px ;
            background-color: aquamarine;
            padding: 10px; /*relleno entre el contenido y el borde*/
            margin: top 10px;
            margin-bottom: 20px;
             /*para que le salga borde al titulo*/
            /*si se le quiere poner un borde diferente a cada lado se pone 
            background-color: aquamarine;
            border-top: 2px;
            border-right: 2px;
            border-bottom: 2px;
            border-left: 2px; red;  como se necesite*/
        }

        h2{
            color: #db2424;
            background-color: bisque;
        }

        tr{
            background-color: antiquewhite;
        }

        td{
           /* background-color: rgb(133, 114, 91);
           */ /*estoy comentando la propiedad de fondo para que se omita este color
           y se vea el color amarillo*/
        }

        img{
            float: center; /*pone a flotar un elemento hacia un lado y no queda sobre el texto 
            y los demas elementos se corren hacia*/
        }

        #news{
            background-color: rgb(90, 65, 65);

        }

        #colombia{
            background-color: yellow;
        }

#main-photo{
    border: 2px #db2424;
}

        .news-content{
            background-color: rgb(179, 179, 211);
        }

